<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings">
      <section name="iFree.Loggers.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.640" newVersion="2.0.0.640" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <iFree.Loggers.Settings>
      <setting name="LogRootDirectory" serializeAs="String">
        <value>..\..\.Logs\</value>
      </setting>
      <setting name="DefaultLogLevel" serializeAs="String">
        <value>ALL</value>
      </setting>      
      <setting name="ConfigResourceType" serializeAs="String">
        <value>xml+sync</value>
      </setting>
      <setting name="ConfigFileName" serializeAs="String">
        <value>iFree.Loggers.dll.log4net</value>
      </setting>
      <setting name="ConsoleLevelMin" serializeAs="String">
        <value>NOTICE</value>
      </setting>
      <setting name="ConsoleLevelMax" serializeAs="String">
        <value>OFF</value>
      </setting>
      <setting name="OutputLogInfoWhenStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputCallerInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CloseIdleLogFileAfter" serializeAs="String">
        <value>00:15:00</value>
      </setting>
      <setting name="CloseIdleLogCheckTimeout" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="OutputEventId" serializeAs="String">
        <value>True</value>
      </setting>
    </iFree.Loggers.Settings>
  </applicationSettings>
</configuration>